# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rawrawdemo.iml
.idea/workspace.xml
